[submodule "goobike-mobile"]
	path = goobike-mobile
	url = https://github.com/DucMinhNgo/goobike-mobile.git
[submodule "goobike-backend"]
	path = goobike-backend
	url = https://github.com/DucMinhNgo/goobike-backend.git
[submodule "goobike-admin"]
	path = goobike-admin
	url = https://github.com/DucMinhNgo/goobike-admin.git
